<div class="container text-center">
  <img src="../logo.jpg" width="640" height="425" class="img-rounded">
    <% if !current_user.nil? %>
      <h4><%= "Welcome Back #{current_user.name}" %></h4>
      <%= link_to "Send a Tweet", new_tweet_path %>
    <% else %>
      <p>Please Sign In</p>
    <% end %>
  <h5 class="text-inf">Version 0.0.1</h5>
  </br>
  <h6 class="text-info">&copy; 2015 Tycho Metadata Analytics, LLC</h6>
</div>
