<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5">

	<div id="myCarousel" class="carousel slide">
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<div class="item active">
              <img src="//placehold.it/1024x700" width="100%">
				<div class="carousel-caption">
					<h4>First Image</h4>
					<p>Hashtag Trend Goes Here</p>
				</div>
			</div>
			<div class="item">
              <img src="//placehold.it/1024x700/662222" width="100%">
				<div class="carousel-caption">
					<h4>Second Image</h4>
					<p>Hashtag Trend Goes Here</p>
				</div>
			</div>
			<div class="item">
				<img src="//placehold.it/1024x700/119922" width="100%">
				<div class="carousel-caption">
					<h4>Third Image</h4>
					<p>Hashtag Tred Goes Here</p>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
	</div>
	</div>

  <div class="col-md-1"></div>
  <div class="col-md-5">
    <a class="twitter-timeline" href="https://twitter.com/bayendor/lists/rubyists" data-widget-id="358255105751015424">Tweets from https://twitter.com/bayendor/lists/rubyists</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>
<div class="container text-center">
  <% if !current_user.nil? %>
    <h4><%= "Welcome Back #{current_user.name}" %></h4>
    <%= link_to "Send a Tweet", new_tweet_path %>
  <% else %>
    <h3>Please Sign In</h3>
  <% end %>
  <h5 class="text-inf">Version 0.0.1</h5>
  </br>
  <h6 class="text-info">&copy; 2015 Tycho Metadata Analytics, LLC</h6>
</div>
