<div class="container text-center">
  <% if !current_user.nil? %>
    <h4><%= "Welcome Back #{current_user.name}" %></h4>
    <%= link_to "Send a Tweet", '#' %>
  <% else %>
    <h3>Please Sign In</h3>
  <% end %>
</br>
</div>
</br>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-4">

	<div id="myCarousel" class="carousel slide">
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<div class="item active">
              <img src="//learn.linksprite.com/wp-content/uploads/2014/11/photo-1-1024x768.jpg" width="100%">
				<div class="carousel-caption">
					<h4>First Image</h4>
					<p>Hashtag Trend Goes Here</p>
				</div>
			</div>
			<div class="item">
              <img src="//2.bp.blogspot.com/-lq67px7CeaI/U3KJMnUNK2I/AAAAAAAAEzA/W7t6uG_oFck/s1600/keep-calm-and-learn-ruby-on-rails-8.png" width="100%">
				<div class="carousel-caption">
					<h4>Second Image</h4>
					<p>Hashtag Trend Goes Here</p>
				</div>
			</div>
			<div class="item">
				<img src="//cms-assets.tutsplus.com/uploads/users/130/posts/21421/preview_image/BrowserPreview_tmp.png" width="100%">
				<div class="carousel-caption">
					<h4>Third Image</h4>
					<p>Hashtag Tred Goes Here</p>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
	</div>
	</div>

  <div class="col-md-1"></div>
  <div class="col-md-5">
  <div class="panel panel-default">
    <div class="panel-heading">Twitter Feed</div>
      <%= render 'layouts/tweets' %>
    </div>
</div>
</div>

<div class="container text-center">
  </br>
  <h5 class="text-inf">Version 0.0.2</h5>
  <h6 class="text-info">&copy; 2015 Tycho Metadata Analytics, LLC</h6>
</div>


