<h2>User Profile</h2>
<div class="panel-body">
  <ul class="list-group">
      <li class="list-group-item"><h5>User: <%= current_user.name %></h5></li>
      <li class="list-group-item"><p>ID: <%= current_user.id %></p></li>
  </ul>
</div>
